#container {
    border: 1px solid magenta;
    height: 256px;
    width: 256px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
}

.square {
    border: 1px solid gray;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
}

/*css for grid squares*/

/*#gridContainer {
    border: 1px solid green;
    height: 512px;
    width: 512px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid.square {
    border: 1px solid red;
}*/