#container {
    border: 1px solid magenta;
    height: 512px;
    width: 512px;
    display: flex;
    flex-flow: wrap;
}

.square {
    border: 1px solid gray;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}

.options {
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: center;
}

button {
    font-size: 16px;
    background-color: lightblue;
    color: purple;
}
/*css for grid squares*/

/*#gridContainer {
    border: 1px solid green;
    height: 512px;
    width: 512px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid.square {
    border: 1px solid red;
}*/